################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/appsettings.Development.json
/.vs
/bin/Debug/net8.0
/obj
/Properties
/HomeMaintenance.csproj.user
